body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  height: 100%;
}

header{
  position: relative;
  height: 10vh;
}

header div{
  position: absolute;
  min-width: 40%;
  height: 100%;
  text-align: left;
  padding-left: 2.5rem;
  font-size: 1.5rem;
}

main, section{
  background-color: antiquewhite;
}

section{
  height: 10vh;
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
}

.search-component{
  display: flex;
  flex-direction: row;
}

.submit-btn{
  justify-self: flex-end;
}

.search-component input{
  height: 4vh;
  border: none;
  border-bottom: 1px solid grey;
  background-color: antiquewhite;
}

.search-component input:focus{
  outline: none;
}

.search-component input, .search-btn, .submit-btn{
  margin-top: 3vh;
}

main{
  min-height: 73vh;
}

.empdetails .empname{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

.no-results-card{
  position: absolute;
  width: 45%;
  margin: auto;
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkred;
  font-weight: bolder;
}
footer{
  position: relative;
  bottom: 0;
  margin: 0;
  height: 7vh;
  background-color: lightgray;
}

footer div{
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 2.5vh auto 1.5vh; 
  font-size: 0.95rem;
}